.col, .text-center, button {
    color: white !important;
    
}
.col, .text-center {
    text-shadow: 2px 2px 2px var(--darkgreen);

}

.container-fluid {
    margin-top: 20px !important;
    background-image: linear-gradient(45deg, var(--grey), var(--darkgreen)) !important;
    /* background-image: linear-gradient()) !important; */

}

.text-center {
   padding-top: 40px !important;
}

.text-center button {
    color: black !important;
    background-color: white !important;
    border: solid 1px black !important;
}

#footer {
    color: white !important;
    text-align:center;
    margin-top: 20px;
    padding: 10px;
}

#contact {
    color: white !important;
}
/* .parallax3 {
    background-image: url("../assets/images/IMG_1481.JPG");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
} */