.container-fluid {
    background-color: var(--grey);
    
}

.makewider {
    width: 400px;
}

#footer div {
   
    /* background-image: linear-gradient((45deg, rgb(26, 25, 25), var(--green))); */
    text-align: center;
}

#footer {
    
    height: 100px !important;
}

