.parallax1 {
    background-image: url("../assets/images/Redrock.jpg");
    height: 95vh;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxh1 {
    color: var(--tan);
    text-align: center;
    /* font-family: var(--myFont); */
    /* font-family: 'Oleo Script', cursive; */
    padding-top: 10%;
    font-size: 450%;
    text-shadow: 2px 2px 2px var(--darkgreen);
}
.headerh2 {
    /* font-family: var(--myFont); */
    color: var(--tan);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-shadow: 2px 2px 2px var(--darkgreen);
}

.parallax2 {
    background-image: url("../assets/images/waterfall.jpg");
    height: 80vh;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 .pp {
    /* color: var(--tan); */
    float: right;
    margin-top: 30px;
    padding-top: 10px;
    margin-right: 40px;
    padding-right: 40px;
    width:800px;
    color: white;

    /* font-family: 'Oleo Script', cursive; */
    font-size: 180%;
    text-shadow: 2px 2px 2px black;

}



@media screen and (max-width: 1030px) {
    .parallax1 {
      background-attachment: scroll;
    }
    .parallax2 {
        background-attachment: scroll;
        
    }
    .parallax2 .pp {
        position: relative;
        top: 40px;
        left:20px;
        width: 300px;
        font-size: 1em;
    }
    .pull-right {
        float: right !important;
        position: relative !important;
        left: 60vw;
    }
  }
